<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extração de dados</title>
</head>
<body>
    <form action="pdfconverter" method="post" enctype="multipart/form-data">
        <label>Selecione a fatura</label>
        <br><br>
        <input type="file" id="fatura" name="fatura"></input>
        <br><br>
        <input type="submit" value="Carregar">
        
    </form>
</body>
</html>